* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Newsreader", serif;
}

header{
   border: 1px solid red;
   padding: 0 40px 0 40px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   nav{
      border: 1px solid blue;
      display: flex;
      gap: 32px;
      ul{
         display: flex;
         list-style: none; /*Lograr quitar estilos*/
         gap: 36px;
      }
   }
}
