* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Newsreader", serif;
}

header {
   border-bottom: 1px solid #F5F2F0;
   padding: 12px 40px 12px 40px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   .logo{
      display: flex;
      gap: 16px;
      align-items: center;
      img{
         width: 16px;
         height: 16px;
      }
   }
   nav {
      display: flex;
      gap: 32px;
      align-items: center;
      ul {
         display: flex;
         list-style: none;
         /*Lograr quitar estilos*/
         gap: 36px;
         li{
            a{
               text-decoration: none;
               color: #000;
               font-weight: 600;
            }
         }
      }
   }
}


.btn {
   padding: 16px;
   border-radius: 12px;
   border: none;
   font-weight: 600;

   &.btn-primario {
      background-color: #ED6E12;
      color: #fff;
   }

   &.btn-secundario {
      background-color: #F5F2F0;
   }
}

main{
   border: 1px solid blue;
   width: 960px;
   margin: 0 auto; /*Centrar vertical*/
   .hero-section{
      height: 512px;
      background-image: url("../assets/hero_section.png");
      background-size: cover;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 16px;
      h2{
         font-size: 48px;
         color: #fff;
      }
      p{
         text-align: center;
         color: #fff;
      }
   }
   .novedades{
      display: flex;
      gap: 12px;
      justify-content: center;
      article{
         border: 1px solid red;
         width: 223px;
         img{
            width: 100%;
         }
      }
   }
}