/*NORMALIZAR*/
/*QUITAR TODOS LOS ESTILOS POR DEFEFECTO*/

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-image: url("./images/pattern-background-desktop.svg");
   background-repeat: no-repeat;
   background-color: #DFE7FE;
}

#card {
   width: 415px;
   border-radius: 16px;
}

main>img {
   width: 100%;
   border-radius: 16px 16px 0 0;
}

.content {
   background-color: #fff;
   padding: 36px;
   border-radius: 0 0 16px 16px;
   text-align: center;
}

h1 {
   font-family: Arial;
   font-size: 28px;
   color: #17274F;
   margin-bottom: 16px;
}

p {
   font-family: Arial;
   color: #262727;
}

/*Section*/

#payment{
   width: 100%;
   height: 36px;
   border: none; /*Quitar el border por defecto*/
   background-color: #382AE0;
   color: #fff;
   border-radius: 8px;
   font-weight: 700;
   margin-top: 20px;
   margin-bottom: 20px;
}

#cancel{
   border:none;
   background-color: transparent;
   font-weight: 700;
   color: #787E9B;
}